<div class="container">
  <div class="row">

    <div class="ui-g-12 ui-md-4">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
        <input type="text" pInputText placeholder="Usuario">
      </div>
      <h2></h2>
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"></span>
        <input type="text" pInputText placeholder="Contraseña">
      </div>
    </div>
  </div>

  <div class="p-grid p-dir-rev">
    <div class="p-col">
      <p-button icon="pi pi-check" iconPos="right" (onClick)="login()" label="Iniciar Sesión" full></p-button>
    </div>
    <h2></h2>
    <div class="p-col">
      <p-button icon="pi pi-check" iconPos="right" label="Registrar" full></p-button>
    </div>
  </div>


</div>